body{
   display: flex;
   justify-content: center;
   flex-direction: column;
}
.fordays{
   margin-top: 80px;
   font-size: 48px;
   line-height: 90px;
   letter-spacing: 5px; 
   color:rgb(23, 182, 182);
   text-align: center;
   border: 5px dotted rgb(204, 16, 195);
}
.italic{
   font-style: italic;
}